<mat-stepper labelPosition="bottom" linear="false"> 
    <form action="">
    <mat-step label="Pregunta 1">
        <div class="body-container">
        <div class="container">
            <div class="test-container">
                <div class="test-question">
                    <label>¿Cuál de estas opciones se encuentra en "Present Simple"?</label>
                </div>
                <mat-radio-group>
                    <mat-radio-button value="1_resp_1">I don't drink tea.</mat-radio-button>
                    <mat-radio-button value="1_resp_2">I drink not tea</mat-radio-button>
                    <mat-radio-button value="1_resp_3">I drinkon't tea</mat-radio-button>
                    <mat-radio-button value="1_resp_4">I not drink tea</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="first-buttons-container">
                <button matStepperNext>Siguiente</button>
            </div>
        </div>
    </div>
    </mat-step>

    <mat-step label="Pregunta 2">
        <div class="body-container">
            <div class="container">
                <div class="test-container">
                    <div class="test-question">
                        <label>Cual de estas frases usa el "Present Continuous"</label>
                    </div>
                    <mat-radio-group>
                        <mat-radio-button value="2_resp_1">They are go to the cinema.</mat-radio-button>
                        <mat-radio-button value="2_resp_2">They going to the cinema</mat-radio-button>
                        <mat-radio-button value="2_resp_3">They are going to the cinema.</mat-radio-button>
                        <mat-radio-button value="2_resp_4">They is going to the cinema</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttons-container">
                    <button matStepperPrevious>Anterior</button>
                    <button matStepperNext>Siguiente</button>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step label="Pregunta 3"> 
        <div class="body-container">
            <div class="container">
                <div class="test-container">
                    <div class="test-question">
                        <label>Selecciona la opción correcta "Present simple y Continuous"</label>
                    </div>
                    <mat-radio-group>
                        <mat-radio-button value="3_resp_1">While she is cook dinner, her husband reads the newspaper.</mat-radio-button>
                        <mat-radio-button value="3_resp_2">While she is cooking dinner, her husband is reading the newspaper.</mat-radio-button>
                        <mat-radio-button value="3_resp_3">While she cooks dinner, her husband is read the newspaper</mat-radio-button>
                        <mat-radio-button value="3_resp_4">While she is cooking dinner, her husband read the newspaper</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttons-container">
                    <button matStepperPrevious>Anterior</button>
                    <button matStepperNext>Siguiente</button>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step label="Pregunta 4">
        <div class="body-container">
            <div class="container">
                <div class="test-container">
                    <div class="test-question">
                        <label>Selecciona la opción correcta "Present Perfect"</label>
                    </div>
                    <mat-radio-group>
                        <mat-radio-button value="4_resp_1">He has been go to Paris last year</mat-radio-button>
                        <mat-radio-button value="4_resp_2">He has went to Paris last year</mat-radio-button>
                        <mat-radio-button value="4_resp_3">He goes to Paris last year</mat-radio-button>
                        <mat-radio-button value="4_resp_4">He has been to Paris sometimes.</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttons-container">
                    <button matStepperPrevious>Anterior</button>
                    <button matStepperNext>Siguiente</button>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step label="Pregunta 5">
        <div class="body-container">
            <div class="container">
                <div class="test-container">
                    <div class="test-question">
                        <label>Rellena el hueco "Present Perfect"</label><br><br>
                        <label>She ________ her keys.</label>
                    </div>
                    <mat-radio-group>
                        <mat-radio-button value="5_resp_1">has lost.</mat-radio-button>
                        <mat-radio-button value="5_resp_2">lose</mat-radio-button>
                        <mat-radio-button value="5_resp_3">lost</mat-radio-button>
                        <mat-radio-button value="5_resp_4">have lost</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttons-container">
                    <button matStepperPrevious>Anterior</button>
                    <button matStepperNext>Resultados</button>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step label="Resultados">

        <div class="buttons-container">
            <button matStepperPrevious>Anterior</button>
            <button routerLink="/EnglishJourney/home">Resultados</button>
        </div>
    </mat-step>
</form>
</mat-stepper>