<div class="principal-container">
    <div class="title-container">
        <h1 [innerHTML]="'Bienvenido '+this.nombre"></h1>
    </div>
    @for (tipo of tipos; track tipo){
        <div class="lesson-container">
            @if(tipo.tipo_curso){
                    <h2>{{ tipo.tipo_curso.toUpperCase() }}</h2>
            }   
            @for(leccion of tipo.lecciones; track leccion){
                <div class="nombre-curso">
                    {{ leccion.nombre_curso }}
                </div>
            }       
        </div>
    }
</div>