.principal-container {
    margin: 3% 6% 3% 6%;
    background-color: rgb(199, 234, 255);
    border-radius: 25px;
    padding: 1%;
}
.lesson-container{
    margin: 3% 6% 3% 6%;
    background-color: rgb(250, 199, 255);
    border-radius: 25px;
    padding: 1%;
}