<div class="principal-container">
    <div class="title-container">
      <h1 [innerHTML]="'Bienvenido '+this.nombre"></h1>
    </div>
    <div *ngFor="let tipo of tipos; let i = index; trackBy: trackByFn" [ngClass]="getColorClass(i)" class="title-class-container">
      <h2 *ngIf="tipo.tipo_curso">{{ tipo.tipo_curso.toUpperCase() }}</h2>
      <div class="lesson-container">
        <div
          *ngFor="let leccion of tipo.lecciones; trackBy: trackByFn"
          class="nombre-cursos"
          [ngClass]="{ 'active': activeLesson === leccion }"
          [ngStyle]="{'background-image': 'url(' + getAssetPath(leccion.img) + ')'}"
          [routerLink]="getRouterLink(leccion.img)"
          (mouseover)="setActiveLesson(leccion)"
          (mouseleave)="clearActiveLesson()"
        >
          <label>{{ leccion.nombre_curso }}</label>
        </div>
      </div>
    </div>
  </div>