<div class="form-login">
  <div class="titulo-login">
    <p>Bienvenido</p>
  </div>
  <div class="subtitulo-login">
    <p>Inicio de sesión:</p>
  </div>
  <br />
  <form (submit)="login()" method="post" [formGroup]="loginform">
    <mat-form-field class="input-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="loginform.controls.mail"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
        class="matInputSmall"
      />
      @if (emailFormControl.hasError('email')) {
      <mat-error>Porfavor introduce un email válido</mat-error>
      } @if (emailFormControl.hasError('required')) {
      <mat-error>El correo es <strong>obligatorio</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field class="input-width">
      <mat-label>Contraseña</mat-label>
      <input
        type="password"
        matInput
        [formControl]="loginform.controls.password"
        [errorStateMatcher]="matcher"
        placeholder="Su contraseña..."
        class="matInputSmall"
      />
      @if (emailFormControl.hasError('required')) {
      <mat-error>La contraseña es <strong>obligatoria</strong></mat-error>
      }
    </mat-form-field>
    <button type="submit" class="boton-login" [disabled]="!loginform.valid">
      ACCEDER</button
    ><br />
  </form>
  <a href="" class="login-enlace" routerLink="/auth/register">Registrese</a
  ><br />
  <a href="" class="login-enlace" routerLink="/auth/admin">¿Administrador?</a>
</div>
