<mat-stepper labelPosition="bottom" linear="false"> 
    <form action="">
    <mat-step label="Pregunta 1">
        <div class="body-container">
        <div class="container">
            <div class="test-container">
                <div class="test-question">
                    <label>Elije la opción correcta para completar la frase</label><br><br>
                    <label>A ______ is a set of instructions that a computer follows to perform a task.</label>
                </div>
                <mat-radio-group [(ngModel)]="respuestaSeleccionadas[0]" name="quest_1">
                    <mat-radio-button value="1_resp_1">program</mat-radio-button>
                    <mat-radio-button value="1_resp_2">hardware</mat-radio-button>
                    <mat-radio-button value="1_resp_3">network</mat-radio-button>
                    <mat-radio-button value="1_resp_4">database</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="first-buttons-container">
                <button matStepperNext>Siguiente</button>
            </div>
        </div>
    </div>
    </mat-step>

    <mat-step label="Pregunta 2">
        <div class="body-container">
            <div class="container">
                <div class="test-container">
                    <div class="test-question">
                        <label>Cuál de estos términos se refiere a una red de computadoras</label>
                    </div>
                    <mat-radio-group [(ngModel)]="respuestaSeleccionadas[1]" name="quest_2">
                        <mat-radio-button value="2_resp_1">CPU</mat-radio-button>
                        <mat-radio-button value="2_resp_2">RAM</mat-radio-button>
                        <mat-radio-button value="2_resp_3">LAN</mat-radio-button>
                        <mat-radio-button value="2_resp_4">SSD</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttons-container">
                    <button matStepperPrevious>Anterior</button>
                    <button matStepperNext>Siguiente</button>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step label="Pregunta 3"> 
        <div class="body-container">
            <div class="container">
                <div class="test-container">
                    <div class="test-question">
                        <label>Selecciona la opción correcta</label><br><br>
                        <label>A ______ is a device that stores digital data.</label>
                    </div>
                    <mat-radio-group [(ngModel)]="respuestaSeleccionadas[2]" name="quest_3">
                        <mat-radio-button value="3_resp_1">router</mat-radio-button>
                        <mat-radio-button value="3_resp_2">hard drive</mat-radio-button>
                        <mat-radio-button value="3_resp_3">monitor</mat-radio-button>
                        <mat-radio-button value="3_resp_4">keyboard</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttons-container">
                    <button matStepperPrevious>Anterior</button>
                    <button matStepperNext>Siguiente</button>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step label="Pregunta 4">
        <div class="body-container">
            <div class="container">
                <div class="test-container">
                    <div class="test-question">
                        <label>Elije la opción correcta para completar la frase</label><br><br>
                        <label>A ______ is a program that replicates itself and spreads to other computers.</label>
                    </div>
                    <mat-radio-group [(ngModel)]="respuestaSeleccionadas[3]" name="quest_4">
                        <mat-radio-button value="4_resp_1">firewall</mat-radio-button>
                        <mat-radio-button value="4_resp_2">virus</mat-radio-button>
                        <mat-radio-button value="4_resp_3">browser</mat-radio-button>
                        <mat-radio-button value="4_resp_4">server</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttons-container">
                    <button matStepperPrevious>Anterior</button>
                    <button matStepperNext>Siguiente</button>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step label="Pregunta 5">
        <div class="body-container">
            <div class="container">
                <div class="test-container">
                    <div class="test-question">
                        <label>Rellena el hueco con la palabra correcta</label><br><br>
                        <label>The ______ connects a computer to a network.</label>
                    </div>
                    <mat-radio-group [(ngModel)]="respuestaSeleccionadas[4]" name="quest_5">
                        <mat-radio-button value="5_resp_1">router</mat-radio-button>
                        <mat-radio-button value="5_resp_2">keyboard</mat-radio-button>
                        <mat-radio-button value="5_resp_3">monitor</mat-radio-button>
                        <mat-radio-button value="5_resp_4">mouse</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttons-container">
                    <button matStepperPrevious>Anterior</button>
                    <button matStepperNext (click)="this.resultados()">Resultados</button>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step label="Resultados">
        <div class="body-container">
            <div class="container-final">
                <mat-progress-spinner mode="determinate" [value]="valueSpinner" diameter="150">
                </mat-progress-spinner>
                <p class="percentage">{{ valueSpinner.toPrecision(3) }}%</p>   
                <p class="score">{{ this.correctas() }} de {{ respuestasCorrectas.length }}</p>
                <p class="message">{{ mensaje}}</p>
            </div>
        </div>
        <div class="buttons-container">
            <button routerLink="/EnglishJourney/home">Home</button>
        </div>
    </mat-step>
</form>
</mat-stepper>