.dialogRegister{
    width: 250px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(209, 69, 69);
    text-align: center;
}
.title{
    color: rgb(247, 34, 34);
    border-bottom: 1px solid rgb(247, 34, 34);
}

.boton-vuelta{
    text-decoration:none; 
    text-align:center; 
    padding:11px 32px; 
    border:solid 1px #f82121; 
    font-weight:bold; 
    color:#000000; 
    background-color:#f85353; 
    border-radius: 10px;
    margin-top: 10px;
   }
   .boton-vuelta:hover{
    border:solid 1px #f82121; 
    background-color:#f58c8c;
    cursor: pointer;
   }
   .contenido{
    color: #000000;
   }