<div class="body-container">
    <app-header-login/>
    <div class="form-login">
        <div class="titulo-login">
            <p>Bienvenido</p>
        </div>
        <div class="subtitulo-login">
            <p>Inicio de sesión:</p>
        </div>
        <form action="POST">
            Email: <input type="text" placeholder="Inserte su email..." required class="inputs-login"><br><br>
            Contraseña: <input type="password" placeholder="Inserte su contraseña..." required class="inputs-login"><br><br>
            <button type="submit" class="boton-login">ACCEDER</button>
        </form>
    </div>
</div>
