<div class="body-container">
    <app-header-login/>
    <div class="form-login">
        <div class="titulo-login">
            <p>Bienvenido</p>
        </div>
        <div class="subtitulo-login">
            <p>Inicio de sesión:</p>
        </div>
        <!-- <form action="POST">
            Email: <input type="text" placeholder="Inserte su email..." required class="inputs-login"><br><br>
            Contraseña: <input type="password" placeholder="Inserte su contraseña..." required class="inputs-login"><br><br>
            <button type="submit" class="boton-login">ACCEDER</button>
        </form> -->
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
            Email: <input type="email" formControlName="mail" class="inputs-login">
            @if(loginform.controls.mail.invalid && loginform.controls.mail.touched){
                <label  class="login-advertencia">Email invalido o vacio</label>
            }<br><br>
            Contraseña:<input type="password" formControlName="password" class="inputs-login"><br><br>
            <button type="submit" class="boton-login" [disabled]="!loginform.valid" routerLink="home">ACCEDER</button><br>
        </form>
        <a href="" class="login-enlace">Registrese</a>
    </div>
</div>
