<div id="container">
  <h1>
    Sobre mí: Estudiante de Desarrollo de Aplicaciones Multiplataforma (DAM)
  </h1>
  <p>
    ¡Hola! Soy Alfredo, un apasionado estudiante de Desarrollo de Aplicaciones
    Multiplataforma (DAM) con un enfoque especial en la creación de soluciones
    innovadoras para el aprendizaje de idiomas en niños. Actualmente, estoy
    inmerso en la emocionante etapa de mi Trabajo de Fin de Grado (TFG), donde
    estoy desarrollando una plataforma web centrada en el aprendizaje de inglés
    para niños utilizando tecnologías como Angular, Node.js y MySQL Workbench.
  </p>
  <h2>Tecnologías Utilizadas:</h2>
  <ul>
    <li>
      <strong>Angular:</strong> Utilizo este poderoso framework de desarrollo
      frontend para crear una interfaz de usuario atractiva e intuitiva.
    </li>
    <li>
      <strong>Node.js:</strong> Para el desarrollo del backend de mi plataforma,
      confío en Node.js debido a su eficiencia y escalabilidad.
    </li>
    <li>
      <strong>MySQL Workbench:</strong> Para la gestión de la base de datos,
      utilizo MySQL Workbench. Esta herramienta me permite diseñar y administrar
      eficientemente la estructura de la base de datos de mi plataforma.
    </li>
  </ul>
  <h2>Objetivos y Visión:</h2>
  <p>
    Mi objetivo con este proyecto es crear una plataforma que no solo enseñe
    inglés a los niños, sino que también fomente su curiosidad, creatividad y
    habilidades de resolución de problemas.
  </p>
  <p>
    En resumen, mi TFG representa mi pasión por la educación, la tecnología y la
    innovación. Estoy emocionado de ver cómo mi plataforma puede impactar
    positivamente en la vida de los niños y ayudarles a alcanzar su máximo
    potencial en el aprendizaje del idioma inglés.
  </p>
  <p>¡Gracias por leer sobre mí y mi proyecto!</p>
</div>
