<mat-stepper labelPosition="bottom" linear="false"> 
    <form action="">
    <mat-step label="Pregunta 1">
        <div class="body-container">
        <div class="container">
            <div class="test-container">
                <div class="test-question">
                    <label>Elije la opción correcta para completar la frase</label><br><br>
                    <label>A ______ is a machine capable of carrying out complex actions automatically.</label>
                </div>
                <mat-radio-group [(ngModel)]="respuestaSeleccionadas[0]" name="quest_1">
                    <mat-radio-button value="1_resp_1">robot</mat-radio-button>
                    <mat-radio-button value="1_resp_2">sensor</mat-radio-button>
                    <mat-radio-button value="1_resp_3">algorithm</mat-radio-button>
                    <mat-radio-button value="1_resp_4">actuator</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="first-buttons-container">
                <button matStepperNext>Siguiente</button>
            </div>
        </div>
    </div>
    </mat-step>

    <mat-step label="Pregunta 2">
        <div class="body-container">
            <div class="container">
                <div class="test-container">
                    <div class="test-question">
                        <label>Cuál de estos términos se refiere a un dispositivo que detecta cambios en el entorno</label>
                    </div>
                    <mat-radio-group [(ngModel)]="respuestaSeleccionadas[1]" name="quest_2">
                        <mat-radio-button value="2_resp_1">processor</mat-radio-button>
                        <mat-radio-button value="2_resp_2">sensor</mat-radio-button>
                        <mat-radio-button value="2_resp_3">motor</mat-radio-button>
                        <mat-radio-button value="2_resp_4">battery</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttons-container">
                    <button matStepperPrevious>Anterior</button>
                    <button matStepperNext>Siguiente</button>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step label="Pregunta 3"> 
        <div class="body-container">
            <div class="container">
                <div class="test-container">
                    <div class="test-question">
                        <label>Selecciona la opción correcta</label><br><br>
                        <label>A ______ converts energy into motion.</label>
                    </div>
                    <mat-radio-group [(ngModel)]="respuestaSeleccionadas[2]" name="quest_3">
                        <mat-radio-button value="3_resp_1">controller</mat-radio-button>
                        <mat-radio-button value="3_resp_2">motor</mat-radio-button>
                        <mat-radio-button value="3_resp_3">sensor</mat-radio-button>
                        <mat-radio-button value="3_resp_4">chip</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttons-container">
                    <button matStepperPrevious>Anterior</button>
                    <button matStepperNext>Siguiente</button>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step label="Pregunta 4">
        <div class="body-container">
            <div class="container">
                <div class="test-container">
                    <div class="test-question">
                        <label>Elije la opción correcta para completar la frase</label><br><br>
                        <label>A ______ is used to control the movements of a robot.</label>
                    </div>
                    <mat-radio-group [(ngModel)]="respuestaSeleccionadas[3]" name="quest_4">
                        <mat-radio-button value="4_resp_1">sensor</mat-radio-button>
                        <mat-radio-button value="4_resp_2">battery</mat-radio-button>
                        <mat-radio-button value="4_resp_3">controller</mat-radio-button>
                        <mat-radio-button value="4_resp_4">processor</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttons-container">
                    <button matStepperPrevious>Anterior</button>
                    <button matStepperNext>Siguiente</button>
                </div>
            </div>
        </div>
    </mat-step>

    <mat-step label="Pregunta 5">
        <div class="body-container">
            <div class="container">
                <div class="test-container">
                    <div class="test-question">
                        <label>Rellena el hueco con la palabra correcta</label><br><br>
                        <label>The ______ provides the necessary energy for the robot's operation.</label>
                    </div>
                    <mat-radio-group [(ngModel)]="respuestaSeleccionadas[4]" name="quest_5">
                        <mat-radio-button value="5_resp_1">battery</mat-radio-button>
                        <mat-radio-button value="5_resp_2">sensor</mat-radio-button>
                        <mat-radio-button value="5_resp_3">motor</mat-radio-button>
                        <mat-radio-button value="5_resp_4">controller</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="buttons-container">
                    <button matStepperPrevious>Anterior</button>
                    <button matStepperNext (click)="this.resultados()">Resultados</button>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step label="Resultados">
        <div class="body-container">
            <div class="container-final">
                <mat-progress-spinner mode="determinate" [value]="valueSpinner" diameter="150">
                </mat-progress-spinner>
                <p class="percentage">{{ valueSpinner.toPrecision(3) }}%</p>   
                <p class="score">{{ this.correctas() }} de {{ respuestasCorrectas.length }}</p>
                <p class="message">{{ mensaje}}</p>
            </div>
        </div>
        <div class="buttons-container">
            <button routerLink="/EnglishJourney/home">Home</button>
        </div>
    </mat-step>
</form>
</mat-stepper>