<div>
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="this.user.nombre" name="nombre">
</div>
<div>
    <label>Correo:</label>
    <input type="email" [(ngModel)]="this.user.correo" name="correo">
</div>
<div>
    <label>Contraseña:</label>
    <input type="password" [(ngModel)]="this.user.contrasena" name="contrasena">
</div>
<div>
    <label>Admin:</label>
    <input type="checkbox" [(ngModel)]="this.user.admin" name="admin">
</div>
<button (click)="actualizarUsuario()">Actualizar</button>