<mat-toolbar style="height: 5vh;" class="toolbar">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon >menu</mat-icon>
        </button>
        <h1>English journey</h1>
    </mat-toolbar-row>
</mat-toolbar>
    <mat-sidenav-container >
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a mat-list-item routerLink="/EnglishJourney/home">Home</a>
                <a mat-list-item (click)="logout()">Cerrar sesión</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content style="height: 90.3vh;">
            <router-outlet/>
        </mat-sidenav-content>
    </mat-sidenav-container>